li(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    href="{{'language_bank_url' | loc:lang}}"
    target='_blank'
  )
    img(
      src='img/Kielipankki-logo-korp.png'
      width='180'
      style='margin:4px 12px'
      alt="{{'language_bank' | loc:lang}}"
    )
li(class=locals.cls_cogmenu_li)
  a#about(
    class=locals.cls_cogmenu_a
    ng-click="citeClick()"
  ) {{'about' | loc:lang}}
li(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    href="{{'docs_url' | loc:lang}}"
    target='_blank'
  ) {{'docs' | loc:lang}}
li#korplink(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    ng-href="{{makeKorpUrl('main')}}"
  ) {{'korp' | loc:lang}}
li#korplablink(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    ng-href="{{makeKorpUrl('lab')}}"
  ) {{'korp_lab' | loc:lang}}
li#korpoldlink(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    ng-href="{{makeKorpUrl('old')}}"
  ) {{'korp_old' | loc:lang}}
li#import(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    href='/cgi-bin/annlab/parse'
    target='_blank'
  ) {{'import_chain' | loc:lang}}
li(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    ng-href="http://spraakbanken.gu.se/sparv/gui/#{{'annotlab_multilingual_url_params' | loc:lang}}"
    target='_blank'
  ) {{'annotlab_multilingual' | loc:lang}}
li#feedback(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    href="{{'feedback_url' | loc:lang}}"
    target="_blank"
  ) {{'feedback_linktext' | loc:lang}}
li(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    href="{{'privacy_url' | loc:lang}}"
    target='_blank'
  ) {{'privacy' | loc:lang}}
li(class=locals.cls_cogmenu_li)
  a(
    class=locals.cls_cogmenu_a
    ng-href="http://urn.fi/{{'terms_of_use_urn' | loc:lang}}"
    target='_blank'
  ) {{'terms_of_use' | loc:lang}}
