li(class=locals.cls_cogmenu_li)
  a#about(class=locals.cls_cogmenu_a, ng-click="citeClick()") {{'about' | loc:lang}}
li(class=locals.cls_cogmenu_li)
  a(class=locals.cls_cogmenu_a, href='https://spraakbanken.gu.se/verktyg/korp/användarhandledning', target='_blank') {{'docs' | loc:lang}}
li#korplink(class=locals.cls_cogmenu_li)
  a(class=locals.cls_cogmenu_a, href='/korp') {{'korp' | loc:lang}}
li#korplablink(class=locals.cls_cogmenu_li)
  a(class=locals.cls_cogmenu_a, href='/korplabb') {{'korp_lab' | loc:lang}}
li(class=locals.cls_cogmenu_li)
  a(class=locals.cls_cogmenu_a, href='https://spraakbanken.gu.se/sparv', target='_blank') {{'import_chain' | loc:lang}}
